a{
	text-decoration: none;
	color: inherit;
}
a:hover{
	text-decoration: none;
	color: inherit;
}
ul,ol,li{
	list-style: none;
}
body{
	font-family: Arial,"microsoft yahei";
	color: #333;
}
.text-indent{
	text-indent: 2rem;
}
.ht-80{
	height: 5rem;
}