*{
  margin: 0;
  padding: 0;
}
ul,ol,li{
  list-style: none;
}
a,
a:hover{
  text-decoration: none;
  color: inherit;
}

//背景
canvas{
  width:100%;
  height:auto;
  display:inline-block;
  //vertical-align:baseline;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-10;
}